[MASTER]
extension-pkg-whitelist=numpy,torch
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
disable=bad-continuation,missing-docstring,len-as-condition

[TYPECHECK]
ignored-modules=numpy,torch,ahocorasick,cv2
ignored-classes=numpy,torch
generated-members=numpy.*,torch.*

[MESSAGES CONTROL]
disable=not-callable,invalid-name